<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <body>
    <form id="form1">
        <div class="mb-3">
          <label for="videoName" class="form-label">Video Name</label>
          <input type="text" class="form-control" id="videoName" >
        </div>
        <div class="mb-3">
          <label for="videoDescription" class="form-label">Video Description</label>
          <input type="text" class="form-control" id="videoDescription">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile" name ="VideoS3">
        </div>
        <button type="button" onclick="submitForm()" class="btn btn-primary">Submit</button>
      </form>
    
  </body>

  <script>
    function submitForm(){

            var videoName = document.getElementById('videoName').value;
            var videoDescription = document.getElementById('videoDescription').value;
            var file = document.getElementById('formFile').files[0]; 

            // Create a new FormData object
            var formData = new FormData();
            console.log(file)
            // Append the video data to the FormData object
            formData.append('VideoName', videoName);
            formData.append('VideoDescription', videoDescription);
            formData.append('VideoS3', file); // Append the file itself

            // Log the FormData object for verification
            console.log("FormData:", formData);

            // Send the FormData object in the fetch request
            fetch('http://localhost:3000/main/form', {
                method: 'POST',
                body: formData // Send the FormData object directly as the body
            })
            .then(response => {
                // Handle response
            })
            .catch(error => {
                // Handle error
            });

    }
  </script>

</html>